* {
    margin: 0px;
}
.flight-details {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 12px;
    margin-bottom: 12px;
}
.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    color: #000000;
    padding-bottom: 20px;
}
.lock-this-price-card {
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    background-color: #E0F9FF;
    border: 1px solid #53b2fe;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 16px;
}
.lock-logo {
    height: 12px;
    width: 12px;
}
.lockthisprice {
    font-size: 10px;
    font-weight: 600;
    font-family: sans-serif;
}
.circle {
    height: 13px;
    width: 13px;
    font-size: 10px;
    border-radius: 50%;
    border: 1px solid gray;
    padding-right: 8px;
    padding-bottom: 3px;
    color: gray;
}
.airline-details {
    display: flex;
    justify-content: center;
    align-items: center;
}
.airline-name {
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}
.flight {
    font-size: 11px;
    margin-top: 10px;
    color: #878787;
}
.airline-image {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.description {
    font-size: 12px;
    text-align: left;
}
.baggage {
    margin-left: 16px;
}
.time-style {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.rupee {
    
}
.book-now-button {
    height: 36px;
    width: 100px;
    background-image: linear-gradient(93deg, #53b2fe, #065af3);
    color: #fff;
    border: none;
    border-radius: 18px;
}
@media screen and (max-width: 1025px) {
    .airline-image {
        height: 24px;
        width: 24px;
    }
    .description {
        font-size: 12px;
    }
    .time-style {
        font-size: 18px;
    }
    .book-now-button {
        height: 28px;
        font-size: 12px;
        width: 70px;
        background-image: linear-gradient(93deg, #53b2fe, #065af3)
    }
}

.popup-container {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
}
.popup {
    height: 100%;
    width: 100%;
    padding: 24px;
}
.popup-lock-prices {
    height: 40px;
    display: flex;
    align-items: center;
}
.lock-circle {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #E0F9FF;
    border: 1px solid #065af3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.popup-lock-logo {
    height: 15px;
    width: 15px
}
.popup-heading {
    font-size: 16px;
    color: #000000;
}
.description {
    font-size: 14px;
    color: #4A4A4A;
}
.popup-image {
    height: 150px;
    width: 100%;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.okay-got-it-button {
    background-color: transparent;
    border: 1px solid #065af3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 30px;
    border-radius: 15px;
    color: #008CFF;
}