
  .regcontainer{
    background-color:transparent;
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid black; */
  }
  .regPageHide{
    display: none;
  }
  .regPageShow{
    display: block;
  }
  .regCard{
    width: 500px;
    min-height: 550px;
    margin: auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .account-type-and-ad-box{
    /* height: 120px; */
    background-color: #eaf5ff;
    padding: 1.5rem;
  }
  .cls-btn-container{
    padding: 0 1.5rem;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    /* margin: 0 0 10px 0; */
    background-color: #eaf5ff;
  }
  .close-btn{
    align-self: flex-end;
    color: #aaaaaaaa;
    background-color: #eaf5ff;
    border: none;
  }
  .close-btn:hover{
    color: black;
  }
  .type-of-acc{
    background-color: white;
    border-radius: 40px;
    display: flex;
    margin: 0;
    padding: 8px;
    justify-content: space-between;

  }
  .btn{
    width:49%;
    border:none;
    border-radius: 40px;
    background-color: white;
  }
  .btnActive{
    width:48%;
    border:none;
    border-radius: 40px;
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(84,182,201,1) 0%, rgba(9,47,121,1) 100%);
  }
  .business-type-text{
    padding:  7px;
    margin: 0;
  }




/* .titleList {
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: change3;
    list-style: none;
    margin-top: 0;
    text-align: left;
}
.titleItem {
  line-height: 45px;
  margin: 0;
}
.animateTitle {
  height: 35px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
} */







  .btn:hover{
    cursor: pointer;
  }
  .form-container{
    padding: 1.5rem;
  }
  .name-container{
    width: 100%;
  }
  .name-text-container{
    display: flex;
  }
  .name-text-container > p{
    width: 50%;
  }
  .inp-box{
    width: 100%;
    height: 35px;
  }
  .gender-container{
    display: flex;
    justify-content: space-around;

  }
  .submit-btn-container{
    width: 100%;
    margin: 30px 0;
  }
  .submit-btn{
    width: 100%;
    height: 45px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .submit-btn:hover {
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  .googleLoginBar {
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
    width: 100%;
  }
  .googleLoginBar>span {
    background-color: #fff;
    color: #9b9b9b;
    display: inline-flex;
    font-weight: 700;
    margin-bottom: -7px;
    padding: 0 10px;
  }










  /* .head-section{
    text-align: center;
    color: #828899;
  }
  .userName{
    display: flex;
  }
  .w-100{
    width: 100%;
  }
  .first-name {
    width: 50%;
    padding: 0 10px 0 0;
  }
  .last-name{
    width: 50%;
    padding: 0 0 0 10px ;
  }
  
  #password{
    margin: 0 0 0.5rem 0 ;
  }
  .chkBox-pass{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  .btn{
    color: #7F7CFC;
    background-color: white;
    border: none;
    height: 3rem;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 5px;
  }
  .btn:hover{
    color: white;
    background-color: #587CFC;
    box-shadow: #BBC4D8 5px 5px 5px;
  }
  .form-text{
    color: #B0AFD9;
  }
  .invalidMsg{
    color: rgb(148, 14, 14);
    text-align: center;
    border: 2px solid red;
    box-shadow: black 5px 5px 5px;;
  } */

  @media screen and (max-width:479px) {
  
    .card{
      width: 75%;
      padding:1rem ;
      border-radius: 5px;
      color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    /* .head-section{
      padding-top: 2rem ;
    } */
    .userName{
      display: flex;
      flex-direction: column;
    }
    .first-name, .last-name {
      width: auto;
      padding: 0;
    }
    .fillBox{
    width:90%;
  }

  }